{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    {% include 'blog/navbar.html' %}
    <header>
       
    </header>
    
    <main>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer>
       
    </footer>
</body>
</html>