/* logout.css */
body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h2 {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    background-color: #555;
    padding: 10px 20px;
    border-radius: 5px;
}

a:hover {
    background-color: #777;
}