/* register.css */
body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h2 {
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #444;
    background-color: #444;
    color: #fff;
}

form input[type="submit"] {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #777;
}